Release/info.sys
Release/Extracted_MBR/*
Release/ART/*
Release/MBR.KELF
Release/Downloads/*
Release/Extracted_MBR/*
Release/gamename.DB
Release/Common/ICNS/*.ico
Release/Common/Icons.INI
Release/Common/_ICN.7z
Release/Common/commit.sys
Release/Common/tinmft.sys

**.res
**.o
HDL-Batch-installer-SRC/_bin/Debug/Downloads/**
HDL-Batch-installer-SRC/_bin/**.*
HDL-Batch-installer-SRC/_bin/Debug/gamename.DB
HDL-Batch-installer-SRC/_bin/*/Common/ICNS/*.ico
HDL-Batch-installer-SRC/_bin/Debug/Common/Icons.INI
HDL-Batch-installer-SRC/_bin/Debug/Common/config.INI.bak
HDL-Batch-installer-SRC/_obj/**
**Thumbs.db
**.wget-hsts
HDL-Batch-installer-SRC/_bin/playground/Common/_ICN.7z
HDL-Batch-installer-SRC/_bin/playground/Common/Icons.INI
HDL-Batch-installer-SRC/_bin/playground/gamename.DB
HDL-Batch-installer-SRC/_bin/playground/Common/_ICN.7z
HDL-Batch-installer-SRC/_bin/playground/Common/Icons.INI
HDL-Batch-installer-SRC/Lang/*.mo
HDL-Batch-installer-SRC/_bin/playground/Downloads
