<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="HDL_Batch_installerFrame">
		<title>HDL Batch Installer</title>
		<centered>1</centered>
		<pos>-1,-1</pos>
		<size>537,651</size>
		<bg>wxSYS_COLOUR_MENU</bg>
		<font>
			<size>8</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>Arial</face>
		</font>
		<minsize>537,681</minsize>
		<extra_code>SetIcon( wxICON(HDL__BATCH__ICON));</extra_code>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX|wxMINIMIZE_BOX|wxCLIP_CHILDREN</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnPaint" entry="EVT_PAINT" />
		<object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
			<pos>0,0</pos>
			<minsize>557,691</minsize>
			<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
				<cols>1</cols>
				<rows>3</rows>
				<growablecols>0</growablecols>
				<growablerows>2</growablerows>
				<object class="sizeritem">
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer1" member="no">
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button1" member="yes">
										<label>Search ps2 HDD&apos;s</label>
										<size>144,24</size>
										<focused>1</focused>
										<handler function="OnButton1Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_TOP</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_selected_hdd" variable="selected_hdd" member="yes">
										<selection>0</selection>
										<size>148,24</size>
										<handler function="Onselected_hddSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxEXPAND</flag>
									<option>2</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="hdd_used_space" member="yes">
								<size>400,23</size>
								<style>wxTE_READONLY|wxTE_CENTRE</style>
								<handler function="OnTextCtrl1Text" entry="EVT_TEXT" />
							</object>
							<flag>wxEXPAND</flag>
						</object>
						<object class="sizeritem">
							<object class="wxGauge" name="ID_GAUGE1" variable="Gauge1" member="yes">
								<size>464,24</size>
								<style>wxGA_SMOOTH</style>
							</object>
							<flag>wxEXPAND</flag>
						</object>
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
						<cols>3</cols>
						<rows>1</rows>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
								<pos>-1,-1</pos>
								<size>520,440</size>
								<bg>wxSYS_COLOUR_WINDOW</bg>
								<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
										<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
											<cols>3</cols>
											<vgap>3</vgap>
											<hgap>4</hgap>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxListCtrl" name="ID_LISTCTRL1" variable="game_list__" member="yes">
													<size>388,447</size>
													<minsize>377,415</minsize>
													<extra_code>wxListItem __col0;&#x0A;__col0.SetId(0);&#x0A;__col0.SetText( __(&quot;Game &quot;) );&#x0A;__col0.SetWidth(370);&#x0A;game__list____-&gt;InsertColumn(0, __col0);</extra_code>
													<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_HRULES|wxLC_VRULES|wxBORDER_SUNKEN|wxVSCROLL</style>
													<handler function="OnListCtrl1BeginDrag" entry="EVT_LIST_BEGIN_DRAG" />
													<handler function="onItemRightClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
													<handler function="OnListCtrl1BeginDrag" entry="EVT_LIST_COL_CLICK" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
													<cols>1</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON1" variable="SEARCH_ISO" member="yes">
															<label>Search Games</label>
															<enabled>0</enabled>
															<handler function="OnSEARCH_ISOClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
														<border>2</border>
													</object>
													<object class="sizeritem">
														<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
															<size>0,0</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON7" variable="clear_iso_list" member="yes">
															<label>Clear list</label>
															<enabled>0</enabled>
															<handler function="Onclear_iso_listClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
														<border>2</border>
													</object>
													<object class="sizeritem">
														<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
															<size>10,-1</size>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxChoice" name="ID_CHOICE1" variable="dma_choice" member="yes">
															<selection>2</selection>
															<enabled>0</enabled>
															<extra_code>for (int X=0 ; X &lt;=7 ; X++)&#x0A;{ dma__choice-&gt;Append(DMA__ALIAS[X]); }&#x0A;dma__choice-&gt;SetSelection(7);</extra_code>
															<handler function="Ondma_choiceSelect" entry="EVT_CHOICE" />
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
														<border>2</border>
													</object>
													<object class="sizeritem">
														<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
															<size>0,0</size>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON4" variable="install" member="yes">
															<label>Install</label>
															<enabled>0</enabled>
															<handler function="OninstallClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
														<border>2</border>
													</object>
													<object class="sizeritem">
														<object class="wxStaticLine" name="ID_STATICLINE4" variable="StaticLine4" member="yes">
															<size>10,-1</size>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX2" variable="use_database" member="yes">
															<label>Use Database</label>
															<checked>1</checked>
															<size>110,20</size>
															<tooltip>When enabled, the program will try to automatically assign the original title for the games by searching the game ID on a database with more than 14700 titles</tooltip>
															<handler function="OnCheckBox1Click1" entry="EVT_CHECKBOX" />
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
														<border>2</border>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Install</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer2" member="no">
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON3" variable="Parse_hdl_toc" member="yes">
															<label>Get List</label>
															<size>80,23</size>
															<enabled>0</enabled>
															<handler function="OnParse_hdl_tocClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>1</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON8" variable="Button3" member="yes">
															<label>?</label>
															<size>16,23</size>
															<handler function="OnButton3Click1" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_TOP|wxSHAPED</flag>
														<border>1</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxListCtrl" name="ID_LISTCTRL2" variable="Installed_game_list" member="yes">
													<size>509,378</size>
													<bg>wxSYS_COLOUR_LISTBOX</bg>
													<extra_code>wxListItem col0;&#x0A;col0.SetId(0);&#x0A;col0.SetText( __(&quot;Game &quot;) );&#x0A;col0.SetWidth(200);//180&#x0A;Installed__game__list-&gt;InsertColumn(0, col0);&#x0A;&#x0A;// Add second column&#x0A;wxListItem col1;&#x0A;col1.SetId(1);&#x0A;col1.SetText( __(&quot;ID&quot;) );&#x0A;col1.SetWidth(110);&#x0A;Installed__game__list-&gt;InsertColumn(1, col1);&#x0A;&#x0A;// Add third column&#x0A;wxListItem col2;&#x0A;col2.SetId(2);&#x0A;col2.SetText( __(&quot;size (MB)&quot;) );&#x0A;col2.SetWidth(90);&#x0A;Installed__game__list-&gt;InsertColumn(2, col2);&#x0A;&#x0A;// Add 4th column&#x0A;wxListItem col3;&#x0A;col3.SetId(3);&#x0A;col3.SetText( __(&quot;Media&quot;) );&#x0A;col3.SetWidth(50);&#x0A;Installed__game__list-&gt;InsertColumn(3, col3);</extra_code>
													<style>wxLC_REPORT|wxLC_AUTOARRANGE|wxLC_SORT_ASCENDING|wxLC_HRULES|wxLC_VRULES|wxLC_NO_SORT_HEADER|wxBORDER_SUNKEN|wxVSCROLL</style>
													<handler function="OnListCtrl1BeginDrag1" entry="EVT_LIST_BEGIN_DRAG" />
													<handler function="Selected_games" entry="EVT_LIST_ITEM_SELECTED" />
													<handler function="UnSelected_games" entry="EVT_LIST_ITEM_DESELECTED" />
													<handler function="OnInstalled_game_listItemRClick1" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
												</object>
												<flag>wxEXPAND</flag>
											</object>
										</object>
									</object>
									<label>Browse</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
										<maxsize>-1,-1</maxsize>
										<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
											<vgap>5</vgap>
											<hgap>5</hgap>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer3" member="no">
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer10" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON10" variable="HDDManagerButton" member="yes">
																	<label>HDD Manager</label>
																	<enabled>0</enabled>
																	<handler function="OnButton2Click3" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer9" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON13" variable="mass_header_injection" member="yes">
																	<label>Inject OPL Launcher</label>
																	<enabled>0</enabled>
																	<tooltip>This will inject OPL Launcher (boot.kelf on program folder) into every PS2 game found on this HDD.&#x0A;Usefull to install/update OPL Launcher into your games</tooltip>
																	<handler function="Onmass_header_injectionClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer8" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON6" variable="modify_header_event" member="yes">
																	<label>Modify Header</label>
																	<enabled>0</enabled>
																	<handler function="OnButton2Click" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer7" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON9" variable="MBRExtractRequest" member="yes">
																	<label>Recover MBR</label>
																	<enabled>0</enabled>
																	<handler function="OnMBRExtractRequestClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer6" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON5" variable="MBR_EVENT" member="yes">
																	<label>Inject MBR</label>
																	<enabled>0</enabled>
																	<handler function="OnMBR_EVENTClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer5" member="no">
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON11" variable="FUSE" member="yes">
																	<label>Mount hdd Partition</label>
																	<enabled>0</enabled>
																	<handler function="OnButton4Click" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_VERTICAL</flag>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer4" member="no" />
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>HDD Management</label>
								</object>
							</object>
							<flag>wxEXPAND</flag>
						</object>
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>4</option>
				</object>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;Main</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM13" variable="COPYHDD" member="yes">
					<label>Massive game transfer</label>
					<help>Transfer all games installed on currently selected HDD into another one</help>
					<enabled>0</enabled>
					<handler function="OnCOPYHDDSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM15" variable="MenuHDDFormat" member="yes">
					<label>Format HDD</label>
					<help>Format any device into PS2 HDD</help>
					<handler function="OnHDDFormatMenuRequest" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="no">
				<label>Config</label>
				<object class="wxMenuItem" name="SETTINGS" variable="MenuItem3" member="no">
					<label>Settings</label>
					<accel>F2</accel>
					<help>configure program</help>
					<handler function="OnSettings" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>About</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show version and credits</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="UPDT" variable="MenuItem5" member="yes">
					<label>Update Program</label>
					<handler function="OnUpdateRequest" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ISSUE" variable="MenuItem6" member="yes">
					<label>Report Issue</label>
					<handler function="OnIssueReport" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Downloads</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem4" member="yes">
					<label>Update OPL Launcher</label>
					<help>update OPL Launcher KELF</help>
					<handler function="On_MiniOPL_Update_request" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem7" member="yes">
					<label>Update HDL-Dump</label>
					<help>Update the game installation tool</help>
					<handler function="OnHDL_DumpUpdateRequest" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem14" member="yes">
					<label>Update game title database</label>
					<help>Update game title database</help>
					<handler function="On_GameNameDatabaseDownloadRequest" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem15" member="yes">
					<label>Download Icons Package</label>
					<help>Update HDD-OSD icons package</help>
					<handler function="OnIconsPackageRequest" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxProgressDialog" name="ID_PROGRESSDIALOG1" variable="install_progress" member="yes">
			<title>Installing</title>
			<message></message>
			<max_value>0</max_value>
			<style>wxPD_APP_MODAL|wxPD_AUTO_HIDE|wxPD_CAN_ABORT|wxPD_ELAPSED_TIME|wxPD_SMOOTH</style>
		</object>
		<object class="wxFileDialog" variable="MBR_search" member="yes">
			<message>Search MBR.KELF</message>
			<default_file>MBR.KELF</default_file>
			<wildcard>*.KELF</wildcard>
			<extra_code>//nedeaaa</extra_code>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN|wxFD_FILE_MUST_EXIST</style>
		</object>
		<object class="wxMenu" variable="about_2_install_menu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem8" member="yes">
				<label>Open File location</label>
				<handler function="OnItemListShowRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM18" variable="Redump_search" member="yes">
				<label>Calculate MD5 Hash</label>
				<handler function="OnCalculateMD5Selected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem9" member="yes">
				<label>Remove from List</label>
				<handler function="RemoveISOfromList" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="Browser_menu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem10" member="yes">
				<label>Extract Game(s)</label>
				<handler function="OnExtractInstalledGameRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem12" member="yes">
				<label>Download assets</label>
				<handler function="OnInstalledGameAssetsDownloadRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem18" member="yes">
				<label>Transfer game(s) to another PS2 HDD</label>
				<handler function="OnSelectiveGameMigration" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem11" member="yes">
				<label>Rename</label>
				<handler function="OnInstalledGameRenameRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem16" member="yes">
				<label>Inject OPL Launcher</label>
				<handler function="OnManualInjectionRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem17" member="yes">
				<label>Load Custom Icon</label>
				<handler function="OnLoadCustomIcon2InstalledGameRequest" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem13" member="yes">
				<label>Information</label>
				<handler function="OnGameInfoRequest" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="DELETE_GAME_ID" variable="DeleteGameMenuItem" member="yes">
				<label>Delete game</label>
				<enabled>0</enabled>
				<handler function="OnGameDeletionRequest" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxProgressDialog" name="ID_PROGRESSDIALOG2" variable="HashProgress" member="yes">
			<title></title>
			<message></message>
			<style>wxPD_APP_MODAL|wxPD_AUTO_HIDE|wxPD_ELAPSED_TIME</style>
		</object>
	</object>
</wxsmith>
