<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="PFSShellBrowser">
		<title>PFS Browser</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<handler function="OnWindowClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer4" member="no">
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="HDDRealRadio" member="yes">
									<label>HDD</label>
									<selected>1</selected>
									<handler function="OnHDDRealRadioSelect" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE1" variable="HDDRealDLG" member="yes" />
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>4</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer5" member="no">
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="HDDFileRadio" member="yes">
									<label>File</label>
									<handler function="OnHDDFileRadioSelect" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFilePickerCtrl" name="ID_FILEPICKERCTRL1" variable="HDDFileDLG" member="yes">
									<message></message>
									<path>D:\\Baul\\Paula\\Desktop\\DEV9hdd.raw</path>
									<wildcard></wildcard>
									<enabled>0</enabled>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>4</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer6" member="no">
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="OpenHDD" member="yes">
									<label>Open</label>
									<handler function="OnButton1Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="CloseHDD" member="yes">
									<label>Close</label>
									<enabled>0</enabled>
									<handler function="OnButton2Click" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer7" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxGenericDirCtrl" name="ID_GENERICDIRCTRL1" variable="DirCtrl" member="yes">
									<defaultfolder></defaultfolder>
									<filter></filter>
									<style>wxDIRCTRL_EDIT_LABELS</style>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxListCtrl" name="ID_LISTCTRL1" variable="FileList" member="yes">
									<enabled>0</enabled>
									<minsize>550,300</minsize>
									<style>wxLC_REPORT|wxLC_AUTOARRANGE</style>
									<handler function="OnFileListItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
									<handler function="OnFileListItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
								</object>
								<flag>wxTOP|wxRIGHT|wxEXPAND</flag>
								<border>5</border>
								<option>3</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="FileListPathDisp" member="yes">
									<enabled>0</enabled>
									<style>wxTE_NO_VSCROLL|wxTE_PROCESS_ENTER|wxTE_READONLY</style>
								</object>
								<flag>wxBOTTOM|wxRIGHT|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>5</border>
				<option>3</option>
			</object>
		</object>
		<object class="wxMenu" variable="BrowserMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
				<label>Extract</label>
				<bitmap stock_id="wxART_FILE_SAVE" stock_client="wxART_BUTTON" />
				<handler function="OnRecoverFileFromHDD" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="yes">
				<label>Create Folder</label>
				<bitmap stock_id="wxART_NEW_DIR" stock_client="wxART_BUTTON" />
				<handler function="OnMkdirFromHDD" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
				<label>Rename</label>
				<bitmap stock_id="wxART_FIND_AND_REPLACE" stock_client="wxART_BUTTON" />
				<handler function="OnRenameFileFromHDD" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>Delete</label>
				<bitmap code="wxIcon(delete_xpm)" />
				<handler function="OnDeleteFileFromHDD" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
