name: Release HDL Batch Installer
on:

  workflow_dispatch:
  push:
    paths:
      - 'Release**'
      - 'Release32**'
      - 'translations/**'

  repository_dispatch:
    types: [HDL_Dump_Updated_]

jobs:

  Repack_and_Release:
    runs-on: ubuntu-latest
    steps:

    - name: checkout code for release
      uses: actions/checkout@v1

    - name: "Check file existence"
      uses: andstor/file-existence-action@v1
      with:
        files: "Release/HDL-Batch-installer.exe, Release32/HDL-Batch-installer.exe, Release/HDL.EXE, Release/boot.kelf, Release/Common/config.INI"
        allow_failure: "true"

    - name: Install dependencies
      run: |
        sudo apt-get install gettext p7zip dos2unix


    - name: get version from changelog
      shell: bash
      run: echo "::set-output name=string::$(grep -m1 '\[*\]' Release/changes.log | sed 's/\[//' | sed 's/\]//' | awk '{$1=$1;print}')"
      id: version
      
    - name: get version from changelog as release tag
      shell: bash
      run: echo "::set-output name=version_tag::$(grep -m1 '\[*\]' Release/changes.log | sed 's/\[//' | sed 's/\]//' | sed -r 's/\s+//g' | sed 's/Aniversary/aniv/' | sed 's/Revision/rev/' | sed 's/Release/rel/'| awk '{$1=$1;print}')"
      id: tag
            
    - name: Download Latest HDL-Dump
      run: |
        cd Release
        wget https://github.com/israpps/hdl-dump/releases/download/hdlinst/HDL.EXE -O $PWD/HDL.EXE

#    - name: Bundle extra files before building packages
#      run: |
#        cp LICENSE Release/LICENSE.TXT

    - name: Trim changes of latest version
      run: |
        cd Release
        sed -n '/Change log/,/^$/{/^$/q; p}' changes.log >> ../latest_changes.log
        cd ..
        sed -i 's/^[[:blank:]]*//g' latest_changes.log
        sed -i 's/-/- /' latest_changes.log
        sed -i 's/Change log:/## Latest changes:\n/' latest_changes.log
        echo "****">>latest_changes.log
        echo "See Full changelog [__Here__](https://github.com/israpps/HDL-Batch-installer/blob/Latest/Release/changes.log)">>latest_changes.log
        echo "----------------CHANGELOG----------------"
        cat latest_changes.log
        echo "----------------CHANGELOG----------------"
    - name: Compile translation catalogs
      run: |
        cd translations
        cd catalogs
        chmod +x ./build_catalogs.sh
        ./build_catalogs.sh

    - name: Create translation template package
      run: |
         DATEE=`date '+[%Y-%m-%d]'`
         mv translations HDLBinst-Translation-$DATEE
         7z a -t7z -r Translation-template.7z HDLBinst-Translation-*/*.pot

    - name: convert \n to \r\n
      run: |
        cd Release
        unix2dos changes.log
        unix2dos README.TXT
        unix2dos HDL-Batch-installer.BAT
        cd Common
        unix2dos config.INI
        
    - name: delete previous tag/release
      if: (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      with:
        delete_release: true
        tag_name: Latest
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Repack latest x64 build
      run: |
        SCH=${GITHUB_SHA::7}
        REF=${{ steps.tag.outputs.version_tag }}
        cd Release
        cd Common
        echo commit $SCH>commit.sys
        echo `date`>>commit.sys
        echo pkgid $REF >>commit.sys
        cd ..
        cd ..
        cp -r Release "HDLBInst[${{ steps.version.outputs.string }}-x64]"
        7z a -t7z -r HDLBInst-x64-$REF.7z HDLBInst*x64*/*

    - name: Repack latest x86 build
      run: |
        SCH=${GITHUB_SHA::7}
        REF=${{ steps.tag.outputs.version_tag }}
        cd Release
        cd Common
        echo 32bits build >>commit.sys
        cd ..
        cd ..
        rm Release/HDL-Batch-installer.exe
        cp Release32/HDL-Batch-installer.exe Release/HDL-Batch-installer.exe
        mv Release "HDLBInst[${{ steps.version.outputs.string }}-x86]"
        7z a -t7z -r HDLBInst-x86-$REF.7z HDLBInst*x86*/*


    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: HDL-INST
        path: |
             HDLBInst*.7z
             Translation-template.7z

    - name: Deploy pre-release
      uses: softprops/action-gh-release@v1
      if: (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
      with:
        token: "${{ secrets.GITHUB_TOKEN }}"
        fail_on_unmatched_files: true
        files: |
             HDLBInst*x64*.7z
             HDLBInst*x86*.7z
             Translation-template.7z
             NBD.zip
        name: "${{ steps.version.outputs.string }}"
        tag_name: "Latest"
        body_path: 'latest_changes.log'
        prerelease: false

#    - name: Deploy pre-release (legacy)
#      if: (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main')
#      uses: marvinpinto/action-automatic-releases@latest
#      with:
#        prerelease: true
#        repo_token: "${{ secrets.GITHUB_TOKEN }}"
#        automatic_release_tag: "Latest"
#        title: "${{ steps.version.outputs.string }}"
#        files: |
#              HDLBInst*.7z
#              Translation-template.7z

  discord_webhooks:
    needs: Repack_and_Release
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:

    - name: checkout code for release
      uses: actions/checkout@v1

    - name: get version from changelog
      shell: bash
      run: echo "::set-output name=string::$(grep -m1 '\[*\]' Release/changes.log | sed 's/\[//' | sed 's/\]//' | awk '{$1=$1;print}')"
      id: version
      
    - name: get version from changelog as release tag
      shell: bash
      run: echo "::set-output name=version_tag::$(grep -m1 '\[*\]' Release/changes.log | sed 's/\[//' | sed 's/\]//' | sed -r 's/\s+//g' | sed 's/Revision/rev/' | sed 's/Release/rel/' | awk '{$1=$1;print}')"
      id: tag

    - name: Download artifact
      uses: actions/download-artifact@v1
      with:
        name: HDL-INST
        
    - name: Discord Webhook, Latest release
      if: github.event_name == 'push'
      uses: tsickert/discord-webhook@v2.0.2
      with:
        webhook-url: ${{ secrets.TESTERS_WEBHOOK }}
        content: "<@&859572447761793034> & <@&859615291477590046> , HDL Batch Installer has been updated some minutes ago\\n according to changelog: **[${{ steps.version.outputs.string }}]** \\n as always, you can download the latest version from here:\\n https://github.com/israpps/HDL-Batch-installer/releases/tag/Latest \\n or <#863913236457062421>"

    - name: Discord Webhook, Latest release
      if: github.event_name == 'repository_dispatch'
      uses: tsickert/discord-webhook@v2.0.2
      with:
        webhook-url: ${{ secrets.TESTERS_WEBHOOK }}
        content: "<@&859572447761793034> & <@&859615291477590046> , HDL Batch Installer **[${{ steps.version.outputs.string }}]** Has been **re-released** because **HDL Dump was updated** some minutes ago \\n as always, you can download the latest version from here:\\n https://github.com/israpps/HDL-Batch-installer/releases/tag/Latest \\n or <#863913236457062421>"


    - name: Upload release to discord backup
      uses: sinshutu/upload-to-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.BACKUP_WEBHOOK }}
      with:
        args: HDL-INST/HDLBInst*.7z
        
